<div title="back" id="visuPicture">
	<div class="shareCard">
		<h1 class="newTitle">Awesome!</h1>
		<div id="canvasDiv" title="Your photo">
		</div>
			<input type="hidden" name="hidden_data" id="hidden_input" />
			<input type="hidden" name="filterPost" id="filterPost" />
			<input type="text" name="pictureTitle" id="pictureTitle" placeholder="Title" required />
		<div class="buttonDiv">
			<button id="validateButton" name="img" value="canvas" type="button">Share it with the world!</button>
			<button id="cancelButton" type="button"">Cancel</button>
		</div>
	</div>
</div>