<div class="footer">
	<div class="innerFooter">
		<form action="/" method="post">
			<button name="footer" value="about" type="submit">About Us</button>
		</form>
		<div class="copyrightDiv">
			<p class="copyrightP">©edjubert 2019</p>
		</div>
	</div>
</div>
