.body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 30px;
	align-items: center;
}

.body .aboutBody{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	line-height: 20px;
	padding-top: 4vw;
	background-color: var(--color-secondary);
	padding: 30px;
	width: 80vw;
	max-width: 500px;
	height: 65vh;
	max-height: 400px;
	color: var(--grey);
	border: var(--default-border);
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
	font-family: var(--font);
}
.body .aboutBody .aboutTitle {
	font-size: var(--title-size);
	margin: 30px;
}
.body .aboutBody .aboutSubtitle {
	font-size: calc(var(--title-size) - 2vh);
}
.body .aboutBody p {
	font-size: var(--normal-font-size);
}
