#activateBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var(--font);
	color: var(--grey);
}

#activateBody form input {
	width: 60vw;
	max-width: 300px;
	height: 50px;
	border: none;
	margin: 10px;
	background-color: var(--header-color1);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);
	border-radius: var(--radius);
	color: var(--white);
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s;
}
