body {
	margin: 0;
	background-color: var(--color-primary);
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	display: none;
	width: 0 !important;
}
::-webkit-scrollbar {
	width: 0 !important;
}

.body {
	min-height: 80vh;
}

.content {
	margin-top: var(--header-height);
}

.header {
	position: fixed;
	display: flex;
	z-index: 100;
	flex: 1;
	height: var(--header-height);
	margin-top: var(--reverse-header-height);
	width: 100vw;
	background: var(--header-color);
	padding-left: 10px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--box-shadow);
}

.header .rightForm, .header .rightSmallForm {
	flex: 0.3;
	padding-right: 4vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
}

.header .rightForm button, .header .rightSmallForm .menuButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: none;
	height: var(--header-height);
	width: var(--header-height);
	border-radius: var(--radius);
	background: transparent;
	transition: transform 0.1s;
}
.header .rightForm button:hover, .header .rightSmallForm .menuButton:hover {
	transform: scale(var(--normal-scale));
}
.header .rightForm button img,
	.header .rightSmallForm img,
	.header .rightSmallForm ul .innerUl button img {
	width: calc(var(--header-height) - 2vh);
	height: calc(var(--header-height) - 2vh);
}

.titleDiv {
	background: transparent;
	height: calc(var(--header-height) - 2vh);
	transition: transform 0.1s;
}
.titleDiv:hover {
	transform: scale(var(--normal-scale));
}

.titleButton {
	background: transparent;
	height: calc(var(--header-height) - 2vh);
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.titleP {
	font-size: var(--title-size);
	font-family: var(--font);
	color: var(--reverse-accent);
	text-transform: capitalize;
}

.footer {
	display: flex;
	padding: 20px;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
	background-color: var(--footer-color);
	min-height: 20vh;
}
.innerFooter {
	display: flex;
	flex-direction: row;
	flex: 1;
	width: 99vw;
	align-items: flex-start;
	justify-content: space-evenly;
}

.innerFooter form button {
	border: none;
	background-color: transparent;
	height: 2vw;
	min-height: 20px;
	border-radius: 5px;
	font-family: var(--font);
	font-size: 12px;
	display: flex;
	flex-direction: column;
	color: var(--grey);
	align-items: center;
	justify-content: center;
	/* color: var(--black); */
}
.innerFooter form button:hover {
	border: none;
	background-color: var(--hover-selection);
}

.innerFooter .copyrightDiv {
	font-family: var(--font);
	height: 2vw;
	font-size: 12px;
	min-height: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-style: italic;
	/* color: var(--black); */
	color: var(--grey);
}

.rightSmallForm li {
	list-style: none;
	position: relative;
}
.rightSmallForm a {
	text-decoration: none;
}
.rightSmallForm li ul {
	position: absolute;
	top: calc(var(--header-height) - 3vh);
	right: 0;
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: flex-start;
	justify-content: space-evenly;
	flex: 1;
	width: 50vw;
	height: 20vh;
	min-width: 100px;
	opacity: 0;
	transition: opacity 0.3s;
	display: none;
}
.rightSmallForm li ul .innerUl {
	background-color: var(--color-secondary);
	top: var(--header-height);
	right: 10px;
	box-shadow: var(--box-shadow);
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	padding: 0;
	align-items: flex-start;
	justify-content: space-evenly;
	flex: 1;
	width: 50vw;
	min-width: 100px;
	height: 20vh;
}
.rightSmallForm li:hover > ul {
	display: flex;
	opacity: 1;
}
.rightSmallForm li ul:hover {
	display: flex;
	opacity: 1;
}
.rightSmallForm li ul .innerUl button {
	display: flex;
	flex: 1;
	align-items: center;
	background-color: transparent;
	border: none;
	justify-content: flex-start;
	padding: 10px;
	border-radius: var(--radius);
	width: calc(50vw);
}
.rightSmallForm li ul button:hover {
	background-color: var(--hover-selection);
}
.rightSmallForm li ul button span {
	font-family: var(--font);
	font-size: 15px;
	margin-left: 10px;
	color: var(--grey);
}

@media screen and (max-width: 500px)  {
	.rightForm {
		position: absolute;
		top: -999999px;
		left: -999999px;
	}
	.rightSmallForm {
		visibility: visible;
	}
}
@media screen and  (min-width: 501px) {
	.rightForm {
		visibility: visible;
	}

	.rightSmallForm {
		position: absolute;
		top: -999999px;
		left: -999999px;
	}
}
