.body {
	display: flex;
	flex-direction: row;
	width: 100vw;
}

.main, .side {
	display: flex;
	padding: 20px;
	align-items: flex-start;
	justify-content: center;
}

.main {
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	min-width: calc(var(--min-panel-width) + 20px);
	justify-content: space-evenly;
	align-items: center;
	margin: 20px;
	background-color: var(--color-primary);
	flex-wrap: wrap;
}

.innerMain, .pictureProposal {
	display: flex;
	min-width: var(--min-panel-width);
	flex-direction: column;
	align-content: flex-start;
	align-items: center;
	justify-content: flex-start;
}

.pictureProposal {
	background-color: var(--color-secondary);
	border: solid;
	border-width: 1px;
	overflow: scroll;
	border-color: var(--border-color);
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
}
.pictureProposal::-webkit-scrollbar {
	width: 0 !important;
}

.innerSide {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	border: solid;
	border-color: var(--border-color);
	border-radius: var(--radius);
	border-width: 1px;
	min-height: var(--min-height);
	min-width: var(--min-panel-width);
	/* width: 20vw; */
	flex-wrap: wrap;
	overflow: scroll;
	background-color: var(--color-secondary);
	box-shadow: var(--box-shadow);
}

#videoElement {
	width: var(--video-width);
	height: var(--video-height);
	min-width: var(--min-video-width);
	min-height: var(--min-video-height);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-style: solid;
	border-width: 1px;
	border-color: var(--border-color);
	border-left-style: solid;
	border-right-style: solid;
	z-index: 10;
	box-shadow: var(--box-shadow);
}

#videoElement, #canvas {
	cursor: pointer;
	background-image: url('../../public/imgs/tools/camera-logo-accent-big.png');
	background-color: var(--camera-background);
}

#canvasDiv {
	position: relative;
	width: var(--video-width);
	height: var(--video-height);
	min-width: var(--min-video-width);
	min-height: var(--min-video-height);
	max-height: var(--max-video-height);
	border-radius: var(--radius);
	border: solid;
	border-width: 1px;
	box-shadow: var(--dark-shadow);
	border-color: var(--border-color);
}

#innerMain {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#filterPicture {
	position: absolute;
	width: var(--video-width);
	height: var(--video-height);
	margin-top: -60px;
	min-width: var(--min-video-width);
	min-height: var(--min-video-height);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	transform: scale(var(--filter-picture-scale));
	z-index: 99;
}
#filterPicture2 {
	position: absolute;
	width: var(--video-width);
	height: var(--video-height);
	min-width: var(--min-video-width);
	min-height: var(--min-video-height);
	max-height: var(--max-video-height);
	/* width: var(--video-width);
	height: var(--video-height);
	max-height: var(--max-video-height);
	min-width: var(--min-video-width);
	min-height: var(--min-video-height); */
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	transform: scale(var(--filter-picture-scale));
	z-index: 250;
}

#canvas {
	position: absolute;
	width: var(--video-width);
	height: var(--video-height);
	min-width: var(--min-video-width);
	min-height: var(--min-video-height);
	max-height: var(--max-video-height);
	object-fit: cover;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none;
	cursor: none;
	z-index: 210;
}

#photo {
	width: 10vw;
}

#browseLabel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--font);
	font-size: var(--normal-font-size);
}

#startButton, #browseLabel, #validateButton {
	width: var(--video-width);
	min-width: var(--min-video-width);
	height: 50px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
	z-index: 11;
	box-shadow: var(--box-shadow);
	border-bottom-right-radius: 5px;
	margin-bottom: 10px;
	color: var(--reverse-accent);
	font-size: var(--big-font-size);
	font-weight: bold;
	transition: background-color 0.3s
}

.normalButton{
	background-color: var(--header-color1);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);
}
.noClickButton {
	background-color: var(--dark-red);
	background-image: linear-gradient(80deg, var(--red), transparent);
}

#validateButton {
	box-shadow: var(--dark-shadow);
	max-width: var(--max-button-width);
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

.noClickButton:hover {
	background-color: var(--red);
	background-image: linear-gradient(80deg, var(--red), transparent);
}
.normalButton:hover {
	background-color: var(--header-color2);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);
}

.selectDiv {
	position: relative;
}

.selectDiv select {
	display: none;
}

.selectSelected {
	background-color: var(--accent-color);
	width: 10vw;
	min-width: calc(var(--min-panel-width) - 100px);
	border-radius: var(--radius);
}

.selectSelected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: var(--white) transparent transparent transparent;
}

.selectSelected.selectArrowActive:before {
	color: var(--reverse-accent);
	top: 7px;
}
.selectSelected.selectArrowActive:after {
	border-color: transparent transparent var(--reverse-accent) transparent;
	color: var(--reverse-accent);
	top: 7px;
}

.selectItems div, .selectSelected {
	color: var(--reverse-accent);
	padding: 8px 16px;
	font-family: var(--font);
	font-size: var(--normal-font-size);
	border: 1px solid transparent;
	border-color: transparent transparent var(--hover-selection) transparent;
	cursor: pointer;
}

.selectItems {
	position: absolute;
	background-color: var(--accent-color);
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

.selectHide {
	display: none;
}

.selectItems div:hover, .sameAsSelected {
	background-color: var(--hover-selection);
}

.filterThumbnail {
	width: 8vw;
	height: 8vw;
	min-width: var(--min-thumbnail-width);
	min-height: var(--min-thumbnail-height);
	border: solid;
	margin-top: 10px;
	border-width: 1px;
	border-radius: var(--radius);
	border-color: var(--color-secondary);
	object-fit: contain;
	transition: transform 0.1s;
}
.filterThumbnail:hover {
	background-color: var(--hover-selection);
	transform: scale(var(--small-scale));
}

.pictureGrid {
	width: 20vw;
	min-width: var(--min-panel-width);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
}

.pictureProposal label {
	color: var(--accent-color);
	font-size: var(--big-font-size);
	font-weight: bold;
	font-family: var(--font);
	margin: 10px;
}

.hidePicture {
	display: none;
}
.imgSelected {
	background-color: var(--img-selection);
	border-radius: var(--radius);
}

#visuPicture {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 1vw;
	background-color: var(--dark-transparent-back);
	z-index: 200;
	cursor: pointer;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#visuPicture .shareCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 90vw;
	max-width: calc(var(--video-width) + 50px);
	min-width: calc(var(--min-video-width) + 50px);
	max-height: 90vh;
	background-color: var(--color-secondary);
	border-radius: var(--radius);
}

#pictureTitle {
	width: var(--video-width);
	min-width: var(--min-video-width);
	border-color: transparent;
	margin: 50px;
	height: 50px;
	background-color: var(--hover-selection);
	border-radius: var(--radius);
	color: var(--accent-color);
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.buttonDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#cancelButton {
	width: var(--video-width);
	border-radius: var(--radius);
	max-width: var(--max-button-width);
	border: none;
	margin: 10px;
	height: 50px;
	color: var(--accent-color);
	font-size: var(--big-font);
	background-color: transparent;
}
#cancelButton:hover {
	background-color: var(--hover-selection);
}

.newTitle {
	font-family: var(--font);
	color: var(--accent-color);
	text-shadow: var(--text-shadow);
}

.little {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.userPicture {
	position: relative;
	width: 8vw;
	height: 8vw;
	min-width: var(--min-thumbnail-width);
	min-height: var(--min-thumbnail-height);
	object-fit: cover;
	margin: 10px;
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
	transition: transform 0.1s;
}
.delDiv {
	border-radius: var(--radius);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 99;
	transition: background-color 0.3s;
}
.delDiv:hover  {
	background-color: rgba(200, 0, 0, 0.7);
	transform: scale(var(--normal-scale));
}
.pictureImg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 79;
}
.pictureImg:hover {
	transform: scale(var(--normal-scale));
}

@media screen and (min-width: 1100px) {
	.main {
		flex-direction: row;
	}

	.innerSide, .pictureProposal {
		min-height: var(--min-height);
		height: 70vh;
	}
}

@media screen and (max-width: 1100px) {
	.main {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
	}
	.innerSide, .pictureProposal {
		width: 90vw;
		min-width: calc(var(--min-panel-width) - 5vw);
	}
	.pictureGrid {
		width: 80vw;
		min-width: calc(var(--min-panel-width) - 50px);
	}
	#videoElement{
		--video-inner-with: 90vw;
		width: var(--video-inner-with);
		height: calc(var(--video-inner-with) * 0.75);
		margin-top: 20px;
		min-width: var(--min-panel-width);
		min-height: var(--min-panel-width);
	}
	#startButton, #browseLabel {
		--video-inner-with: calc(90vw + 2px);
		width: var(--video-inner-with);
		min-width: var(--min-panel-width);

	}
}
