div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.formDiv {
	padding: 10px;
}

.forgotForm {
	padding: 10px;
	height: 65vw;
	max-height: 500px;
	width: 90vw;
	max-width: 500px;
	border-radius: var(--radius);
	background-color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: var(--box-shadow);
	text-align: center;
}

::placeholder {
	color: var(--reverse-dark-font-color2);
	opacity: 0.7;
}

.forgotForm #forgotBtn {
	width: 60vw;
	max-width: 300px;
	height: 50px;
	border: none;
	margin: 10px;
	background-color: var(--header-color1);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);
	border-radius: var(--radius);
	color: var(--white);
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s;
}

h3 {
	font-size: 30px;
	color: var(--accent-color);
	text-transform: uppercase;
	font-family: var(--font);
}

.forgotForm #forgotBtn:hover {
	background-color: var(--header-color2);
}

.forgotForm #forgotBtn:active {
	background-color: var(--button1);
}

.forgotForm input {
	width: 85vw;
	max-width: 490px;;
	border-color: transparent;
	margin: 5px;
	height: 50px;
	background-color: var(--hover-selection);
	border-radius: var(--radius);
	color: var(--accent-color);
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.forgotForm #backBtn {
	width: 60vw;
	max-width: 300px;
	height: 50px;
	border: none;
	margin: 10px;
	background-color: transparent;
	border-radius: var(--radius);
	color: var(--header-color2);
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s;
}
.forgotForm #backBtn:hover {
	background-color: rgba(225, 225, 225, 1);
}
.errorMsg {
	color: var(--red);
	font-size: var(--small-font-size);
}
