.body {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home {
	background-color: var(--color-secondary);
	width: 90vw;
	min-height: 75vh;
	max-height: calc(calc(var(--home-picture-dimension) * 3) + 100px);
	margin: 10px;
	min-width: var(--min-panel-width);
	box-shadow: var(--box-shadow);
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	font-family: var(--font);
	color: var(--grey);
}

.defaultButton {
	width: 60vw;
	max-width: 300px;
	height: 50px;
	border: none;
	margin: 10px;
	background-color: var(--header-color1);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);
	border-radius: var(--radius);
	color: var(--white);
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s;
}
.defaultButton:hover {
	background-color: var(--header-color2);
}
.defaultButton:active{
	background-color: var(--button1);
}
.pictureGrid {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	/* height: 69vh; */
	border-radius: var(--radius);
	justify-content: space-evenly;
	justify-items: flex-start;
	align-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.homePicture {
	width: var(--home-picture-dimension);
	height: var(--home-picture-dimension);
	min-width: var(--min-thumbnail-width);
	min-height: var(--min-thumbnail-height);
	max-width: calc(var(--width-picture) * 8);
	max-height: calc(var(--width-picture) * 8);
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
	transition: transform 1s;
}
.photo {
	position: relative;
	border-radius: var(--radius);
	margin: 10px;
}
.hoverPhoto {
	position: absolute;
	margin: 0;
	border-radius: var(--radius);
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	text-overflow: ellipsis;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-break: break-all;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	overflow-wrap: break-word;
	word-wrap: break-word;
	padding: 5px;
	overflow: hidden;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background: linear-gradient(transparent, var(--black));
	z-index: 50;
	height: 0;
	opacity: 0;;
	transition: height 0.2s ease-in-out;
}
.hoverPhoto h3, .hoverPhoto .userData {
	opacity: 0;
	text-shadow: var(--text-shadow);
	transition: opacity 0.3s;
	transition-delay: 0.1s;
}
.hoverPhoto h3 {
	color: var(--reverse-dark-font-color);
}
.hoverPhoto .userData {
	color: var(--reverse-dark-font-color2);
}
.photo:hover > .hoverPhoto {
	opacity: 1;
	height: calc(100% - 10px);
}

.userData {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.photo:hover > .hoverPhoto h3, .photo:hover > .hoverPhoto .userData {
	opacity: 1;
}
.photo:hover > .homePicture, .photo:hover > .hoverPhoto {
	transform: scale(var(--small-scale));
}

.buttonNav {
	border: none;
	height: 50px;
	width: 20vw;
	margin: 20px;
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
	color: var(--reverse-accent);
	font-family: var(--font);
	font-size: var(--normal-font-size);
	background-color: var(--header-color1);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);
	transition: background-color 0.3s;
}
.buttonNav:hover {
	background-color: var(--header-color2);
}

#noPicture {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	align-content: center;
	justify-content: center;
}

#pictureDetail {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 1vw;
	background-color: rgba(0, 0, 0, 0.74);
	z-index: 210;
	/* visibility: hidden; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#pictureCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-evenly; */
	width: 90vw;
	max-width: calc(var(--video-width) + 50px);
	min-width: calc(var(--min-video-width) + 50px);
	background-color: var(--color-secondary);
	border-radius: var(--radius);
}

#pictureCard .mainImg {
	object-fit: cover;
	max-width: calc(var(--video-width) + 50px);
	min-width: calc(var(--min-video-width) + 50px);
	/* max-width: calc(var(--video-width) + 50px);
	min-width: calc(var(--min-video-width) + 50px); */
	border-radius: var(--radius);
}
.dataDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* flex: 1; */
	justify-content: flex-start;
	font-family: var(--font);
	color: var(--grey);
}

.commentDiv {
	background-color: var(--white);
	border-radius: var(--radius);
	width: calc(100% - 20px);
	min-width: calc(var(--min-video-width) + 30px);
	max-width: 50vw;
	box-shadow: var(--box-shadow);
	margin: 1vw;
	margin-top: 30px;
}

.commentDiv ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.commentDiv ul li {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	padding: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: var(--border-color);
}
.commentSpan, .pseudoSpan, .timestamp {
	font-family: var(--font);
}
.commentSpan {
	color: var(--grey);
}
.pseudoSpan, .timestamp {
	color: var(--border-color);
}
.timestamp {
	font-size: var(--small-font-size);
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 90vw;
	/* padding-top: 5vw; */
	overflow: scroll;
	padding-bottom: 60px;
	max-width: calc(var(--video-width) + 50px);
	min-width: calc(var(--min-video-width) + 50px);
	max-height: 85vh;
	background-color: var(--color-secondary);
	border-radius: var(--radius);
}
.commentInput {
	--padding-value: 10px;
	--input-height: 30px;
	--button-width: 100px;
	position: fixed;
	font-size: var(--big-font-size);
	color: var(--grey);
	border: none;
	bottom: var(--padding-value);
	left: var(--padding-value);
	padding: var(--padding-value);
	width: calc(100% - calc(var(--padding-value) * 4));
	height: var(--input-height);
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
	transition: height 0.2s ease;
}

.profileDiv {
	width: 10%;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profilePicture {
	--dimensions: calc(100% - 10px);
	width: var(--dimensions);
	border-radius: var(--radius);
}

.sendComment, .backButton {
	border: none;
	height: 50px;
	margin: 10px;
	border-radius: var(--radius);
	font-size: var(--big-font-size);
	transition: background-color 0.3s;
}
.sendComment {
	width: 90vw;
	max-width: calc(var(--video-width) + 50px);
	min-width: calc(var(--min-video-width) + 50px);
	color: var(--reverse-accent);
	background-color: var(--header-color1);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);

}
.sendComment:hover {
	background-color: var(--header-color2);
}
.backButton {
	position: absolute;
	top: 0;
	left: 0;
	width: 10vw;
	height: 3vw;
	min-width: 50px;
	min-height: 20px;
	background-color: transparent;
	border: none;
	color: var(--header-color2);
}
.backButton:hover {
	background-color: var(--light-hover-selection)
}

.dataAndLike {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.likeDiv {
	height: 70px;
	width: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.likeDiv button {
	height: 50px;
	width: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	border-radius: var(--radius);
}

.likeDiv button:hover {
	background-color: var(--hover-selection);
}

.likeImg {
	width: 40px;
	height: 40px;
	fill: red;
}

