.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.formDiv {
	padding: 10px;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.loginForm {
	padding: 10px;
	width: 90vw;
	max-width: 500px;
	border-radius: var(--radius);
	background-color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--box-shadow);
}

.inputDiv {
	display: flex;
	flex-direction: column;
}

.buttonDiv {
	display: flex;
	flex-direction: column;
}

.inputForm {
	width: 85vw;
	max-width: 490px;;
	border-color: transparent;
	margin: 5px;
	height: 50px;
	background-color: var(--hover-selection);
	border-radius: var(--radius);
	color: var(--accent-color);
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
::placeholder {
	color: var(--reverse-dark-font-color2);
	opacity: 0.7;
}

.loginForm #loginBtn,
.loginForm #signupBtn {
	width: 60vw;
	max-width: 300px;
	height: 50px;
	border: none;
	margin: 10px;
	background-color: var(--header-color1);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);
	border-radius: var(--radius);
	color: var(--white);
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s;
}
.loginForm #forgotBtn {
	width: 60vw;
	max-width: 300px;
	height: 50px;
	border: none;
	margin: 10px;
	background-color: transparent;
	border-radius: var(--radius);
	color: var(--header-color2);
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s;
}
.loginForm #forgotBtn:hover {
	background-color: rgba(225, 225, 225, 1);
}

.loginForm #loginBtn:hover,
.loginForm #signupBtn:hover {
	background-color: var(--header-color2);
}

.loginForm #loginBtn:active,
.loginForm #signupBtn:active {
	background-color: var(--button1);
}

h3 {
	font-size: 30px;
	color: var(--accent-color);
	text-transform: uppercase;
	font-family: var(--font);
}
.loginForm input .exists {
	border-width: 1px;
	background-color: var(--error-background);
	border-color: var(--error-box);
}

.changeForm {
	width: 300px;
	height: 30px;
	border: none;
	margin-left: 10px;
	background-color: var(--header-color1);
	color: var(--white);
	font-size: 15px;
}

.errorHighlight {
	background-color: var(--error-background);
	box-shadow: var(--error-box-shadow);
	color: var(--color-secondary);
}

.errorMsg {
	color: var(--red);
	font-family: var(--font);
	text-align: center;
}
