.body {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.body h1 {
	font-family: var(--font);
	color: var(--grey);
}

.profilePicture {
	--width-height: 15vh;
	height: var(--width-height);
	width: var(--width-height);
	opacity: 1;
	border-radius: calc(var(--width-height) / 2);
	object-fit: cover;
	box-shadow: var(--box-shadow);
	transition: opacity 0.3s;
}

.forms {
	background-color: var(--color-secondary);
	padding: 10px;
	max-width: 500px;
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
	color: var(--grey);
	font-family: var(--font);
}

.forms .dataForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.saveProfile, #continueButton, #backButton {
	width: 300px;
	height: 50px;
	border: none;
	margin: 10px;
	background-color: var(--header-color1);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);
	border-radius: var(--radius);
	color: var(--white);
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s;
}
.saveProfile:hover, #continueButton:hover {
	background-color: var(--header-color2);
	transform: scale(1.01);
}
.saveProfile:active, #continueButton:active {
	background-color: var(--button1);
	transform: scale(0.99);
}
#backButton {
	background-color: transparent;
	background-image: none;
	color: var(--accent-color);
}
#backButton:hover {
	background-color: var(--hover-selection);
	transform: scale(1.01);
}
#backButton:active {
	transform: scale(0.99);
}

.forms .dataForm .pseudo,
.forms .dataForm .email,
.forms .dataForm .password {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 50vw;
	max-width: 500px;
	min-width: 350px;
	align-items: center;
	margin-top: 20px;
}
.forms .dataForm input[type="text"],
.forms .dataForm input[type="email"],
.forms .dataForm input[type="password"] {
	width: 200px;
	border-color: transparent;
	margin: 5px;
	height: 30px;
	background-color: var(--hover-selection);
	border-radius: var(--radius);
	color: var(--accent-color);
	font-weight: bold;
	text-align: center;
}
.confirmPasswordForm input[type="password"] {
	width: 300px;
	border-color: transparent;
	margin: 10px;
	height: 50px;
	border: none;
	background-color: var(--hover-selection);
	border-radius: var(--radius);
	color: var(--accent-color);
	font-size: var(--big-font-size);
	font-weight: bold;
	text-align: center;
}

.darkMode {
	display: flex;
	width: 50vw;
	max-width: 500px;
	min-width: 350px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

#radioButton,
#radioButtonMail {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

#radioButton input,
#radioButtonMail input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	-webkit-transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--accent-color);
}

input:focus + .slider {
	box-shadow: var(--box-shadow);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}

.profilePicture:hover {
	opacity: 0.6;
	cursor: pointer;
}

.pictureForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.inputfile {
	visibility: hidden;
}
.pictureForm label {
	position: relative;
}
#pushButton {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--header-color1);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);
	border: none;
	--width: 15vh;
	width: var(--width);
	height: calc(var(--width) / 2);
	border-bottom-right-radius: var(--width);
	border-bottom-left-radius: var(--width);
	opacity: 0.4;
	margin-bottom: 4px;
	padding-bottom: 10px;
	color: var(--white);
	font-family: var(--font);
	font-size: var(--normal-font-size);
	transition: opacity 0.2s;
}
#pushButton:hover, #cancelButton:hover {
	opacity: 0.9;
}
#cancelButton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--red);
	background-image: linear-gradient(80deg, var(--dark-red), transparent);
	border: none;
	--width: 15vh;
	width: var(--width);
	height: calc(var(--width) / 2);
	border-top-left-radius: var(--width);
	border-top-right-radius: var(--width);
	opacity: 0.4;
	color: var(--white);
	font-family: var(--font);
	font-size: var(--normal-font-size);
	transition: opacity 0.2s;
}

.confirmPassword {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--dark-transparent-back);
	z-index: 300;
	display: flex;
	justify-content: center;
	align-items: center;
}

.confirmPasswordForm {
	height: 50vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius);
	box-shadow: var(--dark-shadow);
	background-color: var(--color-secondary);
}

.errorInput {
	background-color: var(--error-background) !important;
	box-shadow: var(--error-box-shadow) !important;
}
