#resendEmailBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#resendEmailBody h2 {
	font-family: var(--font);
	color: var(--grey);
}

#resendEmailBody form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#resendEmailBody form input[type="email"] {
	width: 85vw;
	max-width: 490px;;
	border-color: transparent;
	margin: 5px;
	height: 50px;
	background-color: var(--hover-selection);
	border-radius: var(--radius);
	color: var(--accent-color);
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#resendEmailBody form input[type="submit"] {
	width: 60vw;
	max-width: 300px;
	height: 50px;
	border: none;
	margin: 10px;
	background-color: var(--header-color1);
	background-image: linear-gradient(80deg, var(--header-color2), transparent);
	border-radius: var(--radius);
	color: var(--white);
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s;
}
