.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sorry {
	background-color: var(--color-secondary);
	width: 90vw;
	min-height: 75vh;
	min-width: var(--min-panel-width);
	box-shadow: var(--box-shadow);
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--font);
	color: var(--grey);
}