:root {
	--white: #fff;
	--black: rgb(34, 34, 34);
	--red: rgb(226, 0, 0);
	--dark-red: rgb(153, 1, 1);
	--grey: rgb(85, 85, 85);

	--color-primary: #fafafa;
	--color-secondary: #f3f3f3;
	--border-color: #cfcfcf;
	--border-color-dark: var(--grey);
	--reverse-accent: rgb(253, 253, 253);
	--accent-color: #fa7202;
	--secondary-accent: #f52798;

	--header-color1: var(--secondary-accent);
	--header-color2: var(--accent-color);
	--header-color: linear-gradient(80deg, var(--header-color1), var(--header-color2));
	--reverse-header-color: linear-gradient(-10deg, var(--header-color1), var(--header-color2));

	--button1: var(--header-color1);
	--button2: var(--header-color2);

	--camera-background: var(--color-secondary);

	--reverse-dark-font-color: var(--color-primary);
	--reverse-dark-font-color2: var(--color-secondary);
	--footer-color: #9b9a9a;
	--footer-font-color: var(--grey);
	--img-selection: #999999;

	--hover-selection: rgba(0, 0, 0, 0.1);
	--dark-transparent-back: rgba(0, 0, 0, 0.74);
	--light-hover-selection: rgba(116, 116, 116, 0.288);
	--error-background: rgba(119, 66, 66, 0.459);
	--error-box: rgba(255, 0, 0, 0.247);
}
