:root {
	--header-height: 5vh;
	--reverse-header-height: -5vh;
	--title-size: 4vh;

	--radius: 5px;

	--font: sans-serif;
	--small-font-size: 12px;
	--normal-font-size: 15px;
	--big-font-size: 20px;
	--title-font-size: var(--title-size);

	--video-width: 50vw;
	--video-height: calc(var(--video-width) * 0.75);
	--max-video-height: 60vh;
	--min-video-width: 250px;
	--min-video-height: calc(var(--min-video-width) * 0.75);
	--max-button-width: 490px;

	--home-picture-dimension: 18vh;
	--min-height: 85vh;
	--min-panel-width: 250px;
	--min-part-width: 600px;
	--min-thumbnail-width: 100px;
	--min-thumbnail-height: 100px;

	--small-scale: 1.02;
	--normal-scale: 1.05;
	--big-scale: 1.1;
	--filter-picture-scale: 0.5;

	--default-border: 1px solid var(--border-color);
	--box-shadow: 2px 2px 5px 3px var(--border-color);
	--dark-shadow: 2px 2px 5px 3px var(--border-color-dark);
	--text-shadow: 1px 1px 3px var(--black);
	--error-box-shadow: -1px -1px 3px 3px var(--error-box);
}
