:root {
	--white: #fff;
	--black: rgb(34, 34, 34);
	--red: rgb(226, 0, 0);
	--dark-red: rgb(153, 1, 1);
	--grey: #ffffff;

	--color-primary: #00ff00;
	--color-secondary: #ff00ff;
	--border-color: #0000ff;
	--border-color-dark: #000000;
	--reverse-accent: #ffffff;
	--accent-color: #ff0000;
	--secondary-accent: #0000ff;

	--header-color1: var(--secondary-accent);
	--header-color2: var(--accent-color);
	--header-color: linear-gradient(80deg, var(--header-color1), var(--header-color2));
	--reverse-header-color: linear-gradient(-10deg, var(--header-color1), var(--header-color2));

	--button1: var(--header-color1);
	--button2: var(--header-color2);

	--camera-background: var(--color-secondary);

	--reverse-dark-font-color: var(--color-primary);
	--reverse-dark-font-color2: var(--color-secondary);
	--footer-color: #ff0000;
	--footer-font-color: var(--grey);
	--img-selection: #ff000;

	--hover-selection: rgba(0, 0, 0, 0.1);
	--dark-transparent-back: rgba(0, 0, 0, 0.74);
	--light-hover-selection: rgba(116, 116, 116, 0.288);
	--error-background: rgba(119, 66, 66, 0.459);
	--error-box: rgba(255, 0, 0, 0.247);
}
